.btn {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    color: var(--main-txt-dark);
    background-color: var(--accent-color);
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:btn:focus {
        background-color: #188CE8;
        transform: scale(1.03);
            }
}

.portfolio-btn {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    margin-left: 8px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    color: var(--main-txt-light);
    background-color: #F5F4FA;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
        margin-right: 0;
        }

    &:hover,
    &:focus {
        background-color: #188CE8;
        color: var(--main-txt-dark);
        }
}


.carrent-btn-all {
    color: var(--main-txt-dark);
    background-color: var(--accent-color);
}