.header-logo {
    font-style: normal;
    font-family: var(--secondary-font), "sans-serif";
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    color: var(--accent-color);

    @include fonts(700, 26px, 1.16)
}
.logo-studio {
    color: var(--main-txt-light);
}
.logo-studiof {
    color: var(--main-txt-dark);
}
.logo-span {
    color: var(--main-txt-dark);
}
.header-logof {
    font-style: normal;
    font-family: var(--secondary-font), "sans-serif";
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    color: var(--accent-color);
    margin-bottom: 20px;

    @include fonts(700, 26px, 1.19)
}

.logo-footer {
    margin-bottom: 20px;
}