/* Модальне вікно */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 39px 40px 41px;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;

    background: #FFFFFF;
    ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    fill: #000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    fill: var(--accent-color);
}

.modal-button-close {
    width: 11px;
    height: 11px;

}

.form-modal {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--p-color);
}

.modal-paragraf {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    margin-bottom: 11px;
}



.label-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.label-input:nth-child(4) {
    margin-bottom: 20px;
}

.modal-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 5px;

    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.modal-icon-person {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-input:focus+.modal-icon-phone {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-input:focus+.modal-icon-email {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-icon-person {
    position: absolute;
    top: 29px;
    left: 15px;
}

.modal-icon-phone {
    position: absolute;
    top: 29px;
    left: 15px;
}

.modal-icon-email {
    position: absolute;
    top: 29px;
    left: 15px;
}

.comment {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 12px 16px;
    height: 120px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: var(--accent-color);
}


.label-checkbox {
    display: flex;
    justify-content: center;

    position: relative;

    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--p-color);
}

.input-check:checked+.modal-svg {
    background-color: var(--accent-color);
}

.modal-vector {
    position: absolute;
    fill: var(--main-txt-dark);
}

.modal-svg {
    position: relative;
    top: 3px;
    right: 5px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 0.2px solid var(--main-txt-dark);
    border-radius: 2px;
    border-color: var(--p-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.treaty {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal-text {
    padding-right: 3px;
    user-select: none;
}

.btn-send-modal {
    display: flex;

    justify-content: center;
    width: 200px;
    margin: auto;

    padding: 10px 55px 10px 56px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-txt-dark);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}