h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}
.footer-list {
    padding-left: 0px;
}

hr {
    border: 1px solid #ECECEC;
}