/* Портфоліо кнопки */
.img-box {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;


}

.img-box-list {
    margin-bottom: -30px;

    padding: 0px;
        margin: 0px;
    
        @media screen and (min-width: 768px) {
            margin: -15px;
            display: flex;
            flex-wrap: wrap;
        }
    
        // @media screen and (min-width: 1200px) {
            
        //     // flex-wrap: nowrap;
        // }

}

.card-link {
    
}

.img-tech {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-img {
    background: #FFFFFF;
    // transition-property: box-shadow;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 30px;
    
    
        // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        // border-radius: 0px 0px 4px 4px;
        // background-color: var(--main-txt-dark);
    
    
        @media screen and (min-width: 768px) {
    
            margin: 15px;
            flex-basis: calc(100% / 2 - 30px);
        }
    
        @media screen and (min-width: 1200px) {
            
            flex-basis: calc(100% / 3 - 30px);
    
        }

    // &:hover,
    // &:focus {
    //     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
    // }
}



.projects-box {
    position: relative;
    overflow: hidden;
}


.list-contact {
    margin-left: 50px;
}

.btn-section {
    padding: 95px 0;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-btn {
    display: flex;
}

.btn-ptl:not(:first-child) {
    padding-left: 8px;
}

