/*  */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    
   
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

// .features__block {
//     display: block;
//         padding: 0px;
//         margin: 0px;
    
//         @media screen and (min-width: 768px) {
//             display: flex;
//             flex-wrap: wrap;
//             gap: 30px;
//         }
    
//         @media screen and (min-width: 1200px) {
//             flex-wrap: nowrap;
//         }
// }

.features__list {
    display: block;
        padding: 0px;
        margin: 0px;
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }


}

.features__svg {
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;
    font-family: var(--main-font), "sans-serif";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-light);
    text-align:  center;
    @media screen and (min-width: 768px) {
           text-align: start; 
        }
    
        
}

.features__card {
    margin-bottom: 30px;
    
        &:last-child {
            margin-bottom: 0px;
        }
    
        @media screen and (min-width: 768px) {
    
            margin: 0;
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            margin: 0;
            flex-basis: calc((100% - 3 * 30px) / 4);
    
        }

}

.features__card:last-child {
    padding-right: 0px;
}

.features__text {
    font-family: var(--main-font), "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-color);
}