/* Хедер */

.header {
    border-bottom: 1px solid #ECECEC;
}

.center {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-group {
    margin-left: auto;
    display: flex;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-txt-light);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.carrent {
    color: var(--accent-color)
}

.header-link.active {
    color: var(--accent-color)
}

.header-list .header-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}